# PostgreSQL
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASS=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# App
PORT=3000
NODE_ENV=development

# Huawei OBS
OBS_ACCESS_KEY=
OBS_SECRET_KEY=
OBS_ENDPOINT=https://obs.tr-west-1.myhuaweicloud.com
OBS_BUCKET=
OBS_REGION=
